@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-running {
    animation-play-state: running !important;
  }
  .grayscale-filter {
    filter: grayscale(1) sepia(0.2) contrast(0.85);
  }

  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --base-font-size: 0.65rem;
    --fluid-typography-ratio: 0.6;
    --rem-lg: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 1vw);
    --rem-md: calc(
      var(--base-font-size) + var(--fluid-typography-ratio) * 1.2vw
    );
    --rem-sm: calc(
      var(--base-font-size) + var(--fluid-typography-ratio) * 1.5vw
    );
    --rem-xsm: calc(
      var(--base-font-size) + var(--fluid-typography-ratio) * 2.1vw
    );
    --rem-xxsm: calc(
      var(--base-font-size) + var(--fluid-typography-ratio) * 2.6vw
    );
  }

  *,
  *::after,
  ::before {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
  }

  html {
    scroll-behavior: smooth !important;

    font-size: var(--rem-lg);

    @media (max-width: 1280px) {
      font-size: var(--rem-md);
    }

    @media (max-width: 1024px) {
      font-size: var(--rem-sm);
    }

    @media (max-width: 768px) {
      font-size: var(--rem-xsm);
    }

    @media (max-width: 640px) {
      font-size: var(--rem-xxsm);
    }
  }

  body {
    @apply min-h-screen overflow-x-hidden stroke-zinc-200 text-zinc-200;
    font-family: "Vazirmatn", sans-serif;
    -webkit-tap-highlight-color: transparent;
  }

  ::selection {
    background-color: rgba(147, 196, 253, 0.36);
  }

  .has-scroll-smooth {
    @apply fixed inset-0;
    
    body {
      width: 100vw;
      height: 100vh;
    }
  }
}

.c-scrollbar_thumb {
  @apply bg-slate-400;
}

@layer components {
  .noise-bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200dvh;
    background: transparent url("./../../assets/img/noise-transparent.png")
      repeat 0 0;
    background-repeat: repeat;
    animation: noise-bg-animation 0.2s infinite;
    opacity: 0.9;
    visibility: visible;
    pointer-events: none;
    z-index: 1000;
    scale: 1.6;
  }

  .main-header {
    @apply fixed z-[991] flex items-center gap-2 px-3 py-5 mix-blend-difference md:p-6;
  }

  .logo {
    z-index: 999;
    @apply text-lg font-medium;
  }

  .toggle-navigation {
    z-index: 999;

    svg {
      width: 2.45rem;

      cursor: pointer;
      transition: transform 400ms;
      user-select: none;

      &.active {
        transform: rotate(45deg);
      }

      .line {
        fill: none;
        transition:
          stroke-dasharray 400ms,
          stroke-dashoffset 400ms;
        stroke-width: 5.5;
        stroke-linecap: round;
      }

      .top {
        stroke-dasharray: 40 82;
      }

      .middle {
        stroke-dasharray: 40 111;
      }

      .bottom {
        stroke-dasharray: 40 161;
      }

      &.active .top {
        stroke-dasharray: 17 82;
        stroke-dashoffset: -62px;
      }

      &.active .middle {
        stroke-dashoffset: 23px;
      }

      &.active .bottom {
        stroke-dashoffset: -83px;
      }
    }
  }

  .navigation {
    @apply pointer-events-none fixed inset-0 z-[990] bg-slate-600 bg-opacity-20 px-9 pb-9 text-gray-100 backdrop-blur;
    @apply flex flex-col justify-center;
    @apply opacity-0;
    @apply md:items-center md:text-center;

    nav li {
      @apply mb-3 overflow-hidden;

      .nav-item {
        @apply block w-full p-3 text-3xl font-semibold;

        .span-cube {
          @apply origin-center overflow-visible transform;
          @apply perspective-[70rem] rotate-x-0 -translate-z-5 transform-style-3d;
          @apply transition-transform duration-300 ease-in-out;

          span:nth-child(1) {
            @apply block w-full text-transparent;
          }

          span:nth-child(2) {
            @apply absolute left-0 top-0 w-full;
            @apply opacity-100 rotate-x-0 translate-z-5 transform;
            @apply transition-all duration-[400ms] ease-in-out backface-hidden;
            @apply font-black;
          }

          span:nth-child(3) {
            @apply absolute left-0 top-1/2 w-full;
            @apply opacity-0 -rotate-x-90 translate-z-0 transform;
            @apply transition-all duration-[400ms] ease-in-out backface-hidden;
            @apply font-extralight;
          }
        }

        &:hover {
          .span-cube {
            @apply rotate-x-90;

            span:nth-child(2) {
              @apply opacity-0;
            }

            span:nth-child(3) {
              @apply opacity-100;
            }
          }
        }
      }
    }
  }

  .social-icon {
    @apply relative flex h-8 w-8 items-center justify-center;

    .icon-border {
      @apply absolute inset-0 block fill-none stroke-zinc-300 transition-all duration-700;

      path:nth-child(2) {
        @apply origin-center scale-0 fill-zinc-300 transition-all duration-700;
      }
    }

    .icon-svg {
      @apply relative z-10 h-3 w-3 fill-zinc-300 stroke-none transition-colors duration-700;
    }

    &:hover {
      .icon-border {
        @apply rotate-90 stroke-zinc-100;

        path:nth-child(2) {
          @apply scale-100 fill-zinc-100 opacity-100;
        }
      }

      .icon-svg {
        @apply fill-zinc-800;
      }
    }

    &-dark {
      .icon-border {
        @apply stroke-black;

        path:nth-child(2) {
          @apply fill-zinc-900;
        }
      }

      .icon-svg {
        @apply fill-zinc-900;
      }

      &:hover {
        .icon-border {
          @apply stroke-zinc-900;

          path:nth-child(2) {
            @apply fill-zinc-900;
          }
        }

        .icon-svg {
          @apply fill-zinc-200;
        }
      }
    }
  }

  .hero-title {
    @apply overflow-hidden;

    div {
      @apply translate-y-full;
    }
  }

  .marquee {
    @apply flex overflow-hidden;
    div {
      @apply flex animate-marquee whitespace-nowrap will-change-transform;
      animation-play-state: paused;

      span {
        margin: 0 max(2rem, 3vw);
      }
    }
  }

  .our-story {
    @apply relative grid grid-cols-4 gap-3 md:grid-cols-6;

    .reveal {
      @apply col-span-2;

      &:first-child,
      &:nth-child(3) {
        @apply aspect-[160/153] md:aspect-[448/328];
      }
      &:nth-child(2) {
        @apply aspect-[159/216] md:aspect-[448/472];
      }
      &:nth-child(3) {
        @apply hidden md:block;
      }

      div {
        @apply relative h-0 w-full overflow-hidden;

        img {
          @apply absolute inset-0 h-full w-full object-cover object-top;
        }
      }
    }

    .header {
      @apply col-span-4 mt-8 flex flex-col justify-between md:col-span-2 2xl:col-span-1 2xl:col-start-2;

      .cta {
        @apply hidden md:block;
      }
    }
    .content {
      @apply col-span-4 md:mt-8;

      .caption {
        @apply before:mx-4;
      }
    }

    .cta {
      @apply col-span-4 mt-2 md:col-span-2 md:hidden;
    }
  }

  .cta {
    @apply w-fit select-none rounded-3xl border border-solid border-gray-200 px-3 py-1 text-sm;
    @apply transition-colors duration-300;

    &:hover {
      @apply bg-gray-200 text-black;
    }
  }

  .mf-cursor {
    @apply z-[1000] mix-blend-difference;

    .mf-cursor-text {
      @apply font-extrabold text-black;
    }

    &.-pointer::before {
      transform: scale(1);
    }

    &.-text::before {
      @apply opacity-100;
    }

    &.-hidden::before {
      transform: scale(0);
    }
  }

  .title {
    @apply text-2xl font-bold lg:text-3xl;
  }

  .caption {
    @apply max-w-3xl font-light leading-6 md:text-lg;
  }

  .majors {
    @apply relative flex flex-col justify-center gap-3;

    .header {
      @apply flex flex-col gap-3 px-7 md:flex-row md:gap-16 lg:pr-12 xl:pr-24;
    }

    .content {
      @apply flex w-full flex-col;

      .major {
        @apply block p-9 text-center text-3xl font-medium italic;
      }

      li {
        &:nth-child(1) .major {
          @apply ml-20;
        }

        &:nth-child(3) .major {
          @apply mr-20;
        }
      }
    }
  }

  .text-mask-fill span {
    @apply relative block whitespace-nowrap text-gray-600;

    span {
      @apply absolute inset-0 left-auto block w-0 overflow-hidden text-gray-100;
    }
  }

  .tic-tac-toe {
    @apply flex flex-col items-center justify-center;

    .message {
      @apply mb-3 italic;
    }

    .board {
      @apply grid grid-cols-3;

      .cell {
        @apply m-0.5 flex h-24 w-24 cursor-pointer items-center justify-center;
        background-color: hsl(0, 0%, 3%);
        font-family: ui-sans-serif;

        &:hover {
          background-color: hsl(0, 0%, 6%);
        }

        &.highlight {
          @apply bg-green-500 bg-opacity-40;
        }

        &.fill-x,
        &.fill-o {
          @apply cursor-context-menu leading-[6rem];

          &::after,
          &::before {
            @apply text-[6rem];
          }
        }

        &.fill-x::after {
          content: "X";
          @apply text-red-600;
        }

        &.fill-o::after {
          content: "O";
          @apply text-sky-400;
        }
      }
    }
  }

  .form-control {
    label {
      @apply mb-1 text-sm font-thin;
    }

    input {
      @apply block overflow-hidden rounded-md bg-slate-600 bg-opacity-10 px-3 py-2 text-slate-300;
      @apply transition-all duration-150;
      @apply border border-solid border-slate-500;

      & + span {
        @apply invisible m-1 block overflow-hidden text-[.7rem] font-thin text-red-200 
         opacity-0 transition-all delay-300 duration-100;
      }

      &:hover,
      &:focus {
        @apply border-slate-400;
      }

      &:valid {
        @apply border-teal-500;

        &:hover,
        &:focus {
          @apply border-teal-300;
        }
      }

      &:not(:placeholder-shown):invalid {
        @apply border-red-500;

        &:hover,
        &:focus {
          @apply border-red-300;
        }

        & + span {
          @apply visible opacity-100;
        }
      }
    }
  }

  .form-control-checkbox {
    @apply flex cursor-pointer items-center;

    label {
      @apply inline-block;
    }

    .box {
      @apply relative top-px h-[17px] w-[17px] rounded-sm border
        border-solid border-slate-400 align-middle;
      transition: background 0.1s ease;

      &:after {
        @apply absolute left-[5px] top-px h-[11px] w-[5px] rotate-45
        scale-0 opacity-0
        transition-all delay-150 duration-300 ease-linear;
        content: "";

        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
      }
    }

    .label {
      @apply mr-2 cursor-pointer align-middle text-sm font-thin;
    }

    input {
      @apply hidden;

      &:checked ~ .box {
        @apply animate-jelly border-transparent bg-teal-500;

        &:after {
          @apply scale-100 opacity-100;
        }
      }
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    @apply border-slate-300;
    transition: none;
    -webkit-box-shadow: 0 0 0 35px #05080a inset !important;
    -webkit-text-fill-color: #cbd5e1 !important;
  }

  .pre-registration {
    .title {
      @apply mb-3;
    }
    .caption {
      @apply mb-10 max-w-[55ch] text-center font-thin;
      text-wrap: balance;
    }
  }

  .btn {
    @apply block w-full rounded-lg bg-teal-700 py-2 text-center text-sm font-light;
    @apply border-[3px] border-solid border-teal-700;
    @apply outline outline-[2px] outline-teal-700;
    @apply transition-all duration-200;

    box-shadow: 0 0 50px 0 #0f766d1e;

    &:hover {
      @apply border-black;
    }
  }

  .toast {
    @apply fixed left-5 top-5 z-[991] -translate-x-[calc(100%+1.25rem)] overflow-hidden 
    rounded-lg border bg-white p-4 shadow-md transition-all duration-500 ease-in-out transform;

    &.active {
      @apply translate-x-0;
    }

    &-content {
      @apply flex items-center pl-4;
    }

    .icon {
      @apply ml-4 flex h-8 w-8 items-center justify-center rounded-full bg-sky-500 text-white;

      &::before {
        content: "\2139"; /* Unicode for info icon */
      }
    }

    &.success .icon {
      @apply bg-emerald-500;

      &::before {
        content: "\2714"; /* Unicode for checkmark icon */
      }
    }

    &.error .icon {
      @apply bg-rose-500;

      &::before {
        content: "\2716"; /* Unicode for cross icon */
      }
    }

    .message {
      @apply flex flex-col;
      .text {
        @apply text-sm text-gray-600;
        &.title {
          @apply font-bold text-gray-800;
        }
      }
    }

    .close {
      @apply absolute left-2 top-0 cursor-pointer p-1 text-gray-800 opacity-70 hover:opacity-100;
    }

    .progress {
      @apply absolute bottom-0 left-0 h-1 w-full bg-gray-400;
      &::before {
        content: "";
        @apply absolute inset-0 bg-sky-500;
        animation: progress 5s linear forwards;
      }
    }

    &.error .progress::before {
      @apply bg-rose-500;
    }

    &.success .progress::before {
      @apply bg-emerald-500;
    }
  }
}

/* Animations */
@keyframes noise-bg-animation {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -5%);
  }

  20% {
    transform: translate(-10%, 5%);
  }

  30% {
    transform: translate(5%, -10%);
  }

  40% {
    transform: translate(-5%, 15%);
  }

  50% {
    transform: translate(-10%, 5%);
  }

  60% {
    transform: translate(15%, 0);
  }

  70% {
    transform: translate(0, 10%);
  }

  80% {
    transform: translate(-15%, 0);
  }

  90% {
    transform: translate(10%, 5%);
  }

  100% {
    transform: translate(5%, 0);
  }
}

@keyframes progress {
  100% {
    translate: 100% 0;
  }
}
